################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bookify.Domain/obj
/Bookify/Bookify/.vs
