on: 
  workflow_dispatch:
  push:
    branches: ["main"]
env:
  DotNet_Version: "9.0.x"
  
jobs:
  build:
     runs-on: ubuntu-latest
     steps:
       - uses: actions/checkout@v6.0.1

       - name: Setup .net
         uses: actions/setup-dotnet@v5
         with:
            dotnet-version: ${{env.DotNet_Version}}

       - name: restore
         run : dotnet restore Bookify.slnx
       - name : Build 
         run : dotnet build Bookify.slnx --no-restore --configuration Release
  
       - name: test
         run : dotnet test Bookify.slnx --no-restore --no-build --configuration Release 
       - name: publish
         run : dotnet publish Bookify.slnx --no-restore --no-build --configuration Release --output ./publish
     
