on: 
  workflow_dispatch:
  push:
    branches: ["main"]
env:
  DotNet_Version: "9.0.x"
  
jobs:
  build:
     runs-on: ubuntu-latest
     steps:
       - uses: actions/checkout@v6.0.1

       - name: Setup .net
       - uses: actions/setup-dotnet@v5
         with:
          dotnet-version: ${{DotNet_Version}}

       - name: restore
       - name : Build 
       - name: test
       - name: publish
     
